.dislike{
    flex: 1;
    background: #f6514b;
    overflow: hidden;
    position: relative;
    img{
        width: 100%;
        height: 100%;
    }
    a{
        width: 130px;
        height: 50px;
        border:none;
        background: transparent;
        position: absolute;
        left: 50%;
        margin-left: -55px;
        top:360px;
    }
    ul{
        width: 100%;
        position: absolute;
        left: 50%;
        margin-left: -132px;
        top:130px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li{
            width: 45%;
            display: flex;
            margin:10px 0;
            i{
                margin-left: 20px;
                color:#333;
            }
            span{
                width: 20px;
                height: 20px;
                display:block;
                border:1px solid #666;
                position: relative;
            }
            span.active:after{
                content: '';
                position: absolute;
                left: 4px;
                top:4px;
                width: 10px;
                height: 4px;
                border: 1px solid transparent;
                border-left-color:#666;
                border-bottom-color:#666;
                transform: rotate(-45deg);
            }
        }
    }
}
.mark{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    img{
        width: 300px;
        height: auto;

    }
}