*{
    padding:0;
    margin:0;
    list-style: none;
}
html,body,#root,.wrap{
    width: 100%;
    height: 100%;
    background: rgb(71, 97, 100);
}
.wrap{
    margin:20px;
}
.tab{
    width: 60%;
    display: flex;
    align-items: center;
    span{
        flex: 1;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color:#fff;
        background: rgb(134, 193, 216);
        justify-content: space-between;
        margin:10px 0;
    }
    span:first-child{
        background: rgb(11, 106, 196);
    }
}
.list{
    width: 60%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    label{
        width: 100%;
        margin:10px 0;
        input{
            width: 100%;
            height: 40px;
            border:none;
            background: #fff;
            text-indent: 20px;
        }
    }
    label:first-child,label:nth-child(2){
        width: 50%;
    }
    label:last-child {
        font-size: 12px;
        input{
            width: 15px;
            height: 15px;
        }
    }
}
button{
    width: 60%;
    height: 40px;
    border:none;
    background: rgb(52, 185, 108);
    color:#fff;
    text-align: center;
    line-height: 40px;
}
