@import url('./conmon.css');
html,body,#root,.wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
header{
    width: 100%;
    height: 40px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 40px;
    position: relative;
    a{
        position: absolute;
        left: 10px;
        top: 0;
        color: #fff;
    }
}
.login,.binling,.message{
    width: 70%;
    height: 100%;
    margin:0 auto;
}
.text{
    width: 100%;
    margin-top:80px;
    input{
        width: 100%;
        height: 40px;
        border-bottom:1px solid rgb(216, 211, 211); 
    }
    div{
        width: 100%;
        display: flex;
        margin-top:10px;
        span{
            width: 120px;
            height: 100%;
            display: block;
            line-height: 40px;
            color:rgb(58, 106, 196);
            text-align: center;
            font-size: 12px;
        }
        span.active{
            background: rgb(224, 221, 221);
            border-radius: 15px;
            color:rgb(116, 112, 112);
        }
    }
}
.btn{
    width: 100%;
    margin-top:30px;
    a{
        width: 100%;
        height: 40px;
        border-radius: 20px;
        background: rgb(58, 106, 196);
        color:#fff;
        margin-top:20px;
        display: block;
        text-align: center;
        line-height: 40px;
    }
    a:first-child{
        background: #ccc;
    }
    a.on{
        background: rgb(58, 106, 196);
    }
}