@import url("./conmon.css");
html, body, #root, .wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  width: 100%;
  height: 40px;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 40px;
  position: relative;
}

header a {
  position: absolute;
  left: 10px;
  top: 0;
  color: #fff;
}

.login, .binling, .message {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

.text {
  width: 100%;
  margin-top: 80px;
}

.text input {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #d8d3d3;
}

.text div {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.text div span {
  width: 120px;
  height: 100%;
  display: block;
  line-height: 40px;
  color: #3a6ac4;
  text-align: center;
  font-size: 12px;
}

.text div span.active {
  background: #e0dddd;
  border-radius: 15px;
  color: #747070;
}

.btn {
  width: 100%;
  margin-top: 30px;
}

.btn a {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background: #3a6ac4;
  color: #fff;
  margin-top: 20px;
  display: block;
  text-align: center;
  line-height: 40px;
}

.btn a:first-child {
  background: #ccc;
}

.btn a.on {
  background: #3a6ac4;
}
