* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html,
body,
#root,
.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background: #4e4ecc;
  box-sizing: border-box;
}

header a {
  color: #fff;
}

header h3 {
  color: #fff;
}

.nav {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.nav span {
  width: 80px;
  text-align: center;
}

.nav span.active {
  color: #4e4ecc;
}

.content {
  flex: 1;
  overflow: hidden;
  background: #efefef;
}

.scroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.scroll ul {
  width: 100%;
}

.scroll ul a {
  width: 100%;
  background: #fff;
  margin: 5px 0;
  padding: 10px;
  box-sizing: border-box;
  display: block;
}

.scroll ul a div {
  display: flex;
  align-items: center;
}

.scroll ul a div span {
  background: red;
  color: #fff;
  font-weight: none;
  margin-right: 10px;
}

.scroll ul a div h3 {
  font-size: 15px;
  color: #333;
}

.scroll ul a p {
  margin-top: 10px;
}

.scroll ul a p span {
  color: #666;
}

.scroll ul a p span:first-child {
  color: orange;
  margin-right: 10px;
}
